@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our incredible privacy policy is: </p>
<ul>
    <li>Good luck</li>
    <li>I have no idea we dont even know how to collect data</li>
</ul>
